.DS_Store
__pycache__
*.sublime-project
*.sublime-workspace
*.csv
data.json
*.zip
Git tutorial.docx
convert.py
*.pkl
groupme/
graphs/
*.pdf
*.gv
*.txt
decision\ trees/
.vscode/
data/
log.txt
models/
*.png
